/* .app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: goldenrod;
  }


  .help-card-main.container {
    color: red;
    height: 50px;
    z-index: 9;
    margin-bottom: 20px;
  }
   */
