
/* .main {
    display: flex;
    flex-direction: column;
} */

.maps1 {
    z-index: 5;
    /* order: 1; */
    position: unset !important;
    /* margin-top: 5vh; */
    width: 50%;
    /* height: 100%; */
}

.help-card-main.container {
    height: 60px;
    z-index: 9;
    margin-bottom: 20px;
    margin-top: 65vh;
    position: relative;
}

.card.home {
    background-color:white;
    font-family: 'Comfortaa', serif;
    font-size: 16px;
}

.card-content.white-text {
    padding-bottom: 24px !important;
    color: #393e46 !important;
}

.linkHome {
    color: #C9301D !important;
}

.linkHome:hover {
    color: #F56E4A;
}

h2 {
    text-align: center;
    font-family: 'Comfortaa', serif;
}

.intro {
    font-family: 'Comfortaa', serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 17px;
}

.container-map {
    margin-bottom: 20px;;
}

.helpBtn {
    background-color: #599301;
    color: white !important;
}

.helpBtn:hover {
    background-color: #AAAC31;
  }