
.maps1 {
    z-index: 5;
    position: unset !important;
    width: 50%;
}

.help-card-main.container {
    height: 60px;
    z-index: 9;
    margin-bottom: 20px;
    margin-top: 65vh;
    position: relative;
}

.card.home {
    background-color:white;
    font-family: 'Comfortaa', serif;
    font-size: 16px;
}

.card-content.white-text {
    padding: 24px !important;
    color: #393e46 !important;
}

.card-content.white-text.howTo {
    padding: 10px !important;
}


.linkHome {
    color: #C9301D !important;
}

.linkHome:hover {
    color: #F56E4A;
}

h3, h2 {
    text-align: center;
    font-family: 'Comfortaa', serif;
}

.intro {
    font-family: 'Comfortaa', serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 17px;
}

.container-map {
    margin-bottom: 20px;;
}

.helpBtn {
    background-color: #599301;
    color: white !important;
}

.helpBtn:hover {
    background-color: #AAAC31;
  }

  .howTo {
      text-align: center;
      padding-top: 0;
  }

  .howToContainer {
      margin-bottom: 0;
      color: #393e46 !important;
  }

  .selected-groceries {
      text-align: center;
      margin-top: 0;
  }

  .cardMap {
    font-family: 'Comfortaa', serif;
    color: #393e46 !important;
  }

  .mainCardMaps {
      margin-bottom: 50px;
  }