/* .page-footer {

    background-color: #213037;
    z-index: 9;
    margin-top: 80%;
    position: relative;
} */

.page-footer {
    position: relative;
    flex-shrink: 0;
    height: 60px;
    padding-top: 0;
    bottom:0;
    width:100%;
    z-index: 9;
    background-color: #213037;
    text-align: center;
  }