/* body {
  margin: 0;
} */

/* .main {
  min-height: 500px
} */

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 50px;
  font-family: 'Comfortaa', serif;
  color: #393e46 !important;
}

.main {
  flex: 1 0 auto;
}


* {
  margin: 0;
}

/* input:valid {
  border-bottom: 2px #393e46;
} */

input:invalid {
  border-bottom: 1px red;
}


input:invalid:required {
  background-color: whitesmoke;
}

.required {
  float: right;
}

/* input:invalid:required {
  border-bottom: 2px red;
} */


/* 
.main, body {
  height: 100%;
  background-color: hotpink;
  min-height:100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position:relative;
}


.help-card-main.container {
  color: grey;
  height: 50px;
}  */


/* .app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: goldenrod;
} */

