.groceriesList.input-field.col.s12 {
    padding: 0;
}

.addRequestBtn {
    /* float: right; */
    margin-top: 1%;
}

.modal.modal-fixed-footer {
    height: 70%
}

.card-image {
    text-align: center;
}

.completedBtn {
    background-color: goldenrod;
}

.editProfile input {
    color: white;
    text-align: center;
    font-size: larger;
}

.btnEdit {
    margin: auto;
}

/* .about {
    font-size: 2vh;
} */

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.card-content.white-text {
    padding: 24px 24px 0 24px;
}
